<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Name<br />
                Location<br />
                Email
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://weibo.com/edlin">Edlin Link</a><br />
                <a href="http://image.baidu.com/i?tn=baiduimage&ipn=r&ct=201326592&cl=2&fm=index&lm=-1&st=-1&sf=2&fmq=&pv=&ic=0&nc=1&z=&fb=0&istype=2&ie=utf-8&word=%E5%B9%BF%E5%B7%9E">Guangzhou (Shenzhen)</a><br />
                <a href="edlinlink@qq.com">edlinlink@qq.com</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
